* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
}

body {
    line-height: 1.6;
    background-color: rgb(48, 46, 43);
}

.navbar {
    background-color: #333;
    padding: 16px;
    align-content: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 120px;
}

.logo {
    align-content: center;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    color: #d5c06b;
    border: 2px solid #d5c06b;
    border-radius: 4px;
}

.rodape {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 16px;
    margin-top: 5px;
    position: relative;
    bottom: 0;
    width: 100%;
}

section {
    margin: 32px 0;
    padding: 32px;
    background-color: rgb(246, 254, 255);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.conteudo {
    padding: 16px;
    border-bottom: 2px solid #eee;
    margin-bottom: 16px;
}

.imagem {
    width: 100%;
    max-width: 400px;
    margin: 16px auto;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.imagem img {
    width: 100%;
    height: auto;
    display: block;
}

.carousel-container {
    position: relative;
    width: 1500px; /* Exibe 5 imagens de 300px cada */
    overflow: hidden; /* Esconde as imagens fora da área visível */
    margin: 0 auto; /* Centraliza o carrossel */
}

.carousel {
    display: flex; /* Exibe as imagens lado a lado */
    transition: transform 0.5s ease-in-out; /* Transição suave ao mover */
}

.carousel-item {
    flex-shrink: 0; /* Impede que os itens encolham */
    width: 300px; /* Largura de cada imagem */
}

.carousel img {
    width: 100%; /* Faz com que a imagem ocupe toda a largura do item */
    height: auto; /* Ajusta a altura automaticamente para manter a proporção */
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    z-index: 10;
}

.left {
    left: 10px;
}

.right {
    right: 10px;
}

.conteudo {
    text-align: center;
}

.bradpitt {
    display: flex;
    width: 300px;
    position: relative;
    padding: 10px;
    border-radius: 100px;
}

.logobronne {
    list-style: none;
    display: flex;
    justify-content: left;
    gap: 50px;
    width: 150px;
    position: relative;
}

.sobrenos {
    text-align: left;
    font-size: larger;
}

.textprodutos {
    font-size: larger;
    text-align: center;
}