* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
}

body {
    line-height: 1.6;
    background-color: rgb(48, 46, 43);
}

.navbar {
    background-color: #333;
    padding: 16px;
    align-content: center;
    justify-content: space-between;
    padding: 5px 10px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 150px;
    justify-content: center;
    
}

.navbar ul li {
    display: inline;
}

.logo {
    align-content: center;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    color: #d5c06b;
    border: 2px solid #d5c06b;
    border-radius: 4px;
}

.rodape {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 16px;
    margin-top: 5px;
    position: relative;
    bottom: 0;
    width: 100%;
}

section {
    margin: 32px 0;
    padding: 32px;
    background-color: rgb(246, 254, 255);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.conteudo {
    padding: 16px;
    border-bottom: 2px solid #eee;
    margin-bottom: 16px;
}

.imagem {
    width: 100%;
    max-width: 400px;
    margin: 16px auto;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.imagem img {
    width: 100%;
    height: auto;
    display: block;
}

.carousel-container {
    position: relative;
    width: 1650px;
    overflow: hidden;
    margin: 0 auto;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;/
}

.carousel-item {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    width: 300px;
    background-color: #6b6b6b;
    border-radius: 50px;
    gap: 10px;
    margin: 15px;
    padding: 8px;
    background: radial-gradient(circle, #6666668c, #1d1d1dda);
    box-shadow: 0px 4px 8px rgba(46, 46, 46, 0.65);
    justify-content: space-between;
    height: 650px;
    
}

.carousel img {
    width: 100%;
    height: auto;
    min-height: 100%;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    z-index: 10;
}

.left {
    left: 10px;
}

.right {
    right: 10px;
}

.conteudo {
    text-align: center;
}

.bradpitt {
    display: flex;
    width: 300px;
    position: relative;
    padding: 10px;
    border-radius: 100px;
}

.logobronne {
    list-style: none;
    display: flex;
    justify-content: left;
    gap: 50px;
    width: 150px;
    position: relative;
}

.sobrenos {
    text-align: left;
    font-size: larger;
}

.ponho {
    margin-right: 350px;
}

.textprodutos {
    font-size: larger;
    text-align: center;
}

.caixinha {
    position: fixed;
    top: 490px; 
    left: 1620px; 
    width: 250px; 
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 20px; 
    border-radius: 10px; 
    color: #fff; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
}

.caixinha h1 {
    margin-bottom: 7px;
    font-size: 24px;
    text-align: center;
}

.caixinha label {
    font-size: 14px;
    margin-bottom: 3px;
    display: block;
}

.caixinha input[type="text"],
.caixinha input[type="email"],
.caixinha input[type="mensagem"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
}

.caixinha button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.caixinha button:hover {
    background-color: #0056b3;
}


.descrições {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 80%;
    margin: 10px auto;
    box-shadow: 0px 2px 5px rgb(100, 100, 100);
    border-radius: 10px;
    background: linear-gradient(to bottom, rgb(223, 223, 223), rgb(175, 175, 175));
}

.descrições button {
    padding: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.descrições button:hover {
    background-color: #0056b3
}

.peca {
    background-color: white;
    margin: 12px;
    border-radius: 50px;
    min-height: 55%;
    max-height: 55%;
}

.info-ticker {
    background-color: #007bff;
    color: #333;
    padding: 6px;
    font-size: 18px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    z-index: 5;
}

.info-ticker p {
    display: inline-block;
    animation: ticker 7s linear infinite;
    color: white;
}

@keyframes ticker {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}